{% extends "base.html" %}

{% block title%} Index {% endblock %}

{% block contents%}
    <h1 class="text-center mt-5">About</h1>
    <p class="lead">This resource is designed to monitor the chances to pass Russain borders. It collects data from the
    «Пограничный контроль» telegram channel. The info, provided there is quite unsystematic, so you might find some
    deteriorated location names. Hope that won't spoil your experience too much.</p>

    <p class="lead">From the «Infographics» dropdown you can access statistics of people, who have already tried to cross the borders.</p>

    <p class="lead">Good luck to all of you!</p>
{% endblock %}